 <div class="row">
      <div class="col-xs-12 col-md-12">
        <img class="img-responsive center-block" data-src="images/NightSprints.jpeg" style="width: 400px;height: 270px;" src="images/NightSprints.jpg">
      </div>

  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
    <table class="table table-striped table-hover">
     <tr>
      <td>MENS</td>
      <td>Collegiate</td>
      <td>8+</td>
      <td>
        <button type="button" class="btn btn-info">Info</button>
      </td>
     </tr>
     <tr>
      <td>MENS</td>
      <td>Juniors</td>
      <td>4+</td>
      <td>
        <button type="button" class="btn btn-info">Info</button>
      </td>
     </tr>
     <tr>
      <td>WOMENS</td>
      <td>Masters</td>
      <td>4X</td>
      <td>
        <button type="button" class="btn btn-info">Info</button>
      </td>
     </tr>
    <tr>
      <td>WOMENS</td>
      <td>Masters</td>
      <td>4X</td>
      <td>
        <button type="button" class="btn btn-info">Info</button>
      </td>
     </tr>
     <tr>
      <td>WOMENS</td>
      <td>Masters</td>
      <td>4X</td>
      <td>
        <button type="button" class="btn btn-info">Info</button>
      </td>
     </tr>
     <tr>
      <td>WOMENS</td>
      <td>Masters</td>
      <td>4X</td>
      <td>
        <button type="button" class="btn btn-info">Info</button>
      </td>
     </tr>
    </table>
    </div>
  </div>